.button_type_remove{
    width: 18px;
    height: 19px;
    background: transparent;
    background-image: url(../../../images/Trash.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border: 0;
    top: 20px;
    right: 20px;
}