.popup__formInput{
    margin: 30px 36px 0;
    height: 27px;
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    border: 0;
    border-bottom: 1px black solid;
}

@media screen and (max-width: 879px) {
    .popup__formInput{
        margin: 30px 22px 0;
        font-size: 14px;
    line-height: 17px;
    }
}